body{
    height:100%;
    min-height:100%;
}
*{
    text-align: center;
    margin: auto;
    background-color: black;
    color: yellow;
    font-family: 'elvetica Neue', sans-serif;
}
td:hover , h1 , h1:hover{background: rgba(255, 255, 0,0.2)}
td ,button{
   width: 6.5rem;
   height: 6.5rem;
    font-size:3rem;
    border: yellow solid 1px;
    z-index:10;
}
h1 {
    padding: 1.4rem;
    display: inline;
    
}
.score{width: 9.75rem;
        display: inline-block;
height:21px;
    transform: translate(-35%);
}
.s{
    transform: translate(35%);
}
h2 {
      position: fixed;
     bottom:1.5rem;
    left:50%;
    transform: translate(-50%);
    
}
